.navbar-profile {
    width: 1152px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
    margin-bottom: 0px;

}

.navbar-profile img {
    width: 243px;
    height: 243px;
    margin-right: 149px;
    margin-left: 115px;
}

.navbar-profile__text1{
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color: #21243D;
    margin-bottom: 40px;
    margin-left: 148px;
}

.navbar-profile__text2 {
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #21243D;
    margin-left: 148px;
}


